<template name="restaurantSubmit">
  <form class="main form page">
    
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Name your post" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">Phone</label>
      <div class="controls">
          <input name="phone" id="phone" type="text" value="" placeholder="Phone number" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">Address</label>
      <div class="controls">
          <input name="address" id="address" type="text" value="" placeholder="Address" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">City</label>
      <div class="controls">
          <input name="city" id="city" type="text" value="" placeholder="City" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">State</label>
      <div class="controls">
          <input name="state" id="state" type="text" value="" placeholder="State" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">Zipcode</label>
      <div class="controls">
          <input name="zipcode" id="zipcode" type="text" value="" placeholder="Zipcode" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">Cost</label>
      <div class="controls">
          <input name="cost" id="cost" type="text" value="" placeholder="Cost" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">Type of Food</label>
      <div class="controls">
          <input name="foodType" id="foodType" type="text" value="" placeholder="Type of food" class="form-control"/>
      </div>
    </div>
    
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>

    <!-- <div class="form-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
          <input name="phone" id="phone" type="text" value="" placeholder="Phone number" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
          <input name="address" id="address" type="text" value="" placeholder="Address" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
          <input name="city" id="city" type="text" value="" placeholder="City" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
          <input name="state" id="state" type="text" value="" placeholder="State" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
          <input name="zipcode" id="zipcode" type="text" value="" placeholder="Zipcode" class="form-control"/>
      </div>
    </div> -->
    