<template name="restaurantItem">
  <div class="restaurant">
    <div class="restaurant-content">
      <h3><a href="{{pathFor 'restaurantPage'}}">{{title}}</a><span></span></h3>
      <p>
        {{#if ownRestaurant}}<a href="{{pathFor 'restaurantEdit'}}">Edit</a>{{/if}}
      </p>
      <p>
    	{{phone}}
      </p>
      <p>
    	{{address}}
      </p>
      <p>
      	{{city}}, {{state}} {{zipcode}}
      </p>
      <p>
    	{{cost}}
      </p>
      <p>
    	{{foodType}}
      </p>
      <p>
        <strong>Avg Plate Rating: </strong>
      </p>

    </div>
  </div>
</template>